$bg-color: #141c24;
$txt-color: white;

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
    color: $txt-color;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#app {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: $bg-color;
}

canvas {
    width: 100%;
    height: 100%;
}